/vendor
/storage/*.key
/storage/logs
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/bootstrap/cache/*.php
/.env
.env.*
!.env.example
/node_modules
npm-debug.log
yarn-error.log
/public/build
/public/hot
/public/storage
.phpunit.result.cache
/.phpunit.cache
/.idea
/.vscode
/.fleet
.phpactor.json
Homestead.json
Homestead.yaml
auth.json
